html, body { height: 100%; width: 100%; margin: 0; }

.logo{
    text-align:center;
    font-size:1em;
}
li {
    display: inline-block;
    text-align:center;
    height:250px;
    padding-left:-100px;
}

.showIt{
    display:inline-block;
}
img{
    margin-right:-70px;
    float:left;
    padding:0px 0px 0px 0px;
}

#searchbox {
    width:600px;
    height:200px;
}

p {
 display:inline;   
}

.withPic{
    font-size:1.4em;
    position:relative;
    left:35px;
    top:-205px;
    z-index:-1;
}
.onlyText{
 margin-left:4px;  
}

#sDebug{
    background-color:brown;
}

#what{
    background-color:red;
}

/*half page div box */
#textBox{
  position:absolute;
  width:100%;
  height:50%;
}

textarea{
    -webkit-overflow-scrolling: touch;
}

#textInput{
    color:white;
    font-size:1em;
    position:absolute;
    display:block;
    resize:none;
    top:13%;
    left:12%;
    width:75%;
    height:70%;
    background-color:#333333;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;  
    border-radius: 20px; 

}

#textInput:focus{
  border-color: #FF6C24;
  outline:none;
}

.front{
    position:relative;
    top:60%;
}

.mainGroup {
    float:left;
    position:relative;
    top:88%;
    left:50%;
}

.group {
    width:215px;
    float:left;
    position:relative;
    left:-50%;
}

#convert  {
    display:inline-block;
    text-align:center;
    background-color: #FF6C24;
   -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
     color: white;
   font-size: 1.5em;
   text-decoration: none;
   padding: 6% 8% ;
   border: none;
   }
 
#convert:hover{
    background-color:#E55900;
}

#convert:active {
   background-color: #993D00;
   }
   
#convert:disabled{
background-color:#FFAA70;
}   


#clear{
    position:absolute;
    text-align:center;
    background-color: #007F41;
   -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
   color: white;
   font-size: 1.5em;
   text-decoration: none;
   padding: 6% 8% ;
   border: none;
   }
  
#clear:hover {
   background-color:  #00683B;
   }

  
#clear:active {
   background-color: #007F41;
   }

#roundB{
  display:inline-block;
  position:fixed;
  top:1.5%;
  right:5%;
  width:50px;
  height:50px;
  background-color: #FF6C24;
  border-radius:50%;
  border: none;
  text-align:center;
  font-size:2em;
  color:white;
  display:none;
}

#roundB:hover{
    background-color:#E55900;
}
#roundB:active {
   background-color: #FF6C24;
   }


#closeB{
  position:fixed;
  top:1.5%;
  right:5%;
  width:50px;
  height:50px;
  background-color:#FF4024;
  border-radius:50%;
  border: none;
  text-align:center;
  font-size:2em;
  display:none;
}

#closeB:hover{
    background-color:#B20A00;
}
#closeB:active {
   background-color:#FF4024;
   }

/* Loading */
#listLoad{
  position:relative;
  width:180px;
  height:180px;
  display:none;
}

#loadingSpin{
    position:absolute;
    top:77px;
    left:67px;
}

spinner {
  margin-left:100px;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

/* loading end */

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@media only screen and (min-width: 0px) {
   
  /* Styles */
}

/* iPhone 4*/
@media only screen and (min-width: 320px) {
   
  /* Styles */
}


/* Samsung Galaxy S5 (portrait) ----------- */
@media only screen and (min-width: 360px) {
/* Styles */
 
}

/* iPhone 6 (portrait) ----------- */
@media only screen and (min-width: 375px) {
/* Styles */
  
}

/* iPhone 6+ (portrait) ----------- */
@media only screen and (min-width: 414px) {
/* Styles */

   
}

/* iPhone 4 (landscape) ----------- */
@media only screen and (min-width: 480px) {
/* Styles */
 
}


/* iPhone 5 (landscape) ----------- */
@media only screen and  (min-width: 568px){
/* Styles */
  
}

/* Samsung Galaxy S3 (landscape) ----------- */
@media only screen and (min-width: 640px){
/* Styles */
  
}

/* iPhone 6 (landscape) ----------- */
@media only screen and (min-width: 667px) {
/* Styles */
 
}

/* iPhone 6+ (landscape) ----------- */
@media only screen and  (min-width: 736px){
/* Styles */
 
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px)  {
/* Styles */
 
}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 1024px){
/* Styles */
 
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width: 1224px) {
/* Styles */

    
}

/* Large screens ----------- */
@media only screen  and (min-width:1824px) {
/* Styles */
 
}

