html, body { height: 100%; width: 100%; margin: 0; }


li {
    display: inline-block;
}

img{
    margin-right:-70px;
}

figcaption {
   
}

#searchbox {
    width:600px;
    height:200px;
}

p {
 display:inline;   
}

.onlyText{
 margin-left:4px;   
}


#sDebug{
    background-color:brown;
}

#what{
    background-color:red;
}

/*half page div box */
#textBox{
  position:absolute;
  width:100%;
  height:50%;
}


textarea{
    -webkit-overflow-scrolling: touch;
}

#textInput{
    position:absolute;
    display:block;
    resize:none;
    top:13%;
    left:12%;
    width:75%;
    height:70%;
    background-color:#b2b1a6;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;  
    border-radius: 20px; 

}

#textInput:focus{
  border-color:green;
  outline:none;
}



.mainGroup {
    float:left;
    position:relative;
    top:86%;
    left:50%;
}

.group {
    width:215px;
    float:left;
    position:relative;
    left:-50%;
}

#convert  {
    text-align:center;
    background-color: #FF6600;
   -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
     color: white;
   font-size: 1.5em;
   text-decoration: none;
   padding: 6% 8% ;
   border: none;
   }
   
#convert:disabled{
  background-color:#FFAA70;
}   

#convert:active {
   background-color: #993D00;
   }

#clear{
    text-align:center;
    background-color: blue;
   -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
   color: white;
   font-size: 1.5em;
   text-decoration: none;
   padding: 6% 8% ;
   border: none;
   }
   
#clear:active {
   background-color: green;
   }

#roundB{
  float:right;
  margin-top:1%;
  margin-right:1%;
  width:50px;
  height:50px;
  background-color:#009933;
  border-radius:50%;
  display:none;
  border: none;
  text-align:center;
  font-size:1em;
  display:none;
}

#roundB:hover{
    background-color:#00CC00;
}
#roundB:active {
   background-color: #993D00;
   }


#closeB{
  float:right;
  margin-top:1%;
  margin-right:1%;
  width:50px;
  height:50px;
  background-color:#FF3300;
  border-radius:50%;
  border: none;
  text-align:center;
  font-size:2em;
  display:none;
}

#closeB:hover{
    background-color:green;
}
#closeB:active {
   background-color:blue;
   }

/* Loading */
#listLoad{
  position:relative;
  width:180px;
  height:180px;
  display:none;
}

#loadingSpin{
    position:absolute;
    top:77px;
    left:67px;
}

spinner {
  margin-left:100px;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

/* loading end */

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@media only screen and (min-width: 0px) {
   
  /* Styles */
}

/* iPhone 4*/
@media only screen and (min-width: 320px) {
   
  /* Styles */
}


/* Samsung Galaxy S5 (portrait) ----------- */
@media only screen and (min-width: 360px) {
/* Styles */
 
}

/* iPhone 6 (portrait) ----------- */
@media only screen and (min-width: 375px) {
/* Styles */
  
}

/* iPhone 6+ (portrait) ----------- */
@media only screen and (min-width: 414px) {
/* Styles */

   
}

/* iPhone 4 (landscape) ----------- */
@media only screen and (min-width: 480px) {
/* Styles */
 
}


/* iPhone 5 (landscape) ----------- */
@media only screen and  (min-width: 568px){
/* Styles */
  
}

/* Samsung Galaxy S3 (landscape) ----------- */
@media only screen and (min-width: 640px){
/* Styles */
  
}

/* iPhone 6 (landscape) ----------- */
@media only screen and (min-width: 667px) {
/* Styles */
 
}

/* iPhone 6+ (landscape) ----------- */
@media only screen and  (min-width: 736px){
/* Styles */
 
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px)  {
/* Styles */
 
}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 1024px){
/* Styles */
 
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width: 1224px) {
/* Styles */

    
}

/* Large screens ----------- */
@media only screen  and (min-width:1824px) {
/* Styles */
 
}

