{"filter":false,"title":".gitignore","tooltip":"/platform/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"group":"doc","deltas":[{"start":{"row":0,"column":0},"end":{"row":0,"column":18},"action":"insert","lines":[" .c9/metadata/tab0"]}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":18},"end":{"row":0,"column":18},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1426901327687,"hash":"994c36d756c3db2ab076f20c83d8926c457d30b7"}